
@font-face {
    font-family:"TeXGyreHerosCondensed-Italic";
    src:url("texgyreheroscn-italic.woff2") format("woff2"),url("texgyreheroscn-italic.woff") format("woff"),url("texgyreheroscn-italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        