
@font-face {
    font-family:"TeXGyreHerosCondensed-Regular";
    src:url("texgyreheroscn-regular.woff2") format("woff2"),url("texgyreheroscn-regular.woff") format("woff"),url("texgyreheroscn-regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        