
@font-face {
    font-family:"TeXGyreHerosCondensed-Bold";
    src:url("texgyreheroscn-bold.woff2") format("woff2"),url("texgyreheroscn-bold.woff") format("woff"),url("texgyreheroscn-bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        